<div class="dashboard-status">
    <p class="hidden" data-id="{{deviceID}}" id="deviceId">{{deviceID}}</p>
    <h2 id="device-id" data-id="{{deviceID}}" contenteditable="true">{{deviceName}}</h2>
    <div class="two-column">
    
        <a href="/dashboard/{{deviceID}}/schedule" class="two-col-item">
            <span class="card-title pointer">
                <h5>First Feed</h5>
                <img src="/image/edit.svg" alt="">
            </span>
            <h1 id="first-feed"></h1>
        </a>
        <a href="/dashboard/{{deviceID}}/schedule" class="two-col-item">
            <span class="card-title pointer">
                <h5>Second Feed</h5>
                <img src="/image/edit.svg" alt="">
            </span>
            <h1 id="second-feed"></h1>
        </a>
    </div>

    <div class="two-column">
        <a href="/dashboard/{{deviceID}}/history-temp" class="two-col-item">
            <span class="card-title pointer">
                <h5>Temperature</h5>
            </span>
            <h1 id="temp"></h1>
        </a>
        <a href="/dashboard/{{deviceID}}/history-humd" class="two-col-item">
            <span class="card-title pointer">
                <h5>Humidity</h5>
            </span>
            <h1 id="humd">69%</h1>
        </a>
    </div>

    <div class="two-column">
        <a href="/dashboard/{{deviceID}}/history-drink" class="two-col-item">
            <span class="card-title pointer">
                <h5>Drink</h5>
            </span>
            <h2 id="drink">Unavailable</h2>
        </a>
        <a href="/dashboard/{{deviceID}}/history-food" class="two-col-item">
            <span class="card-title pointer">
                <h5>Food</h5>
            </span>
            <h2 id="food">Available</h2>
        </a>
    </div>

    <a href="/dashboard/{{deviceID}}/history-uv" class="one-column">
        <h5>UV Light</h5>
        <h1 id="uv">ON</h1>
    </a>
</div>